:root {
  --main-color: #024fa7;
  --sec-color: #bd0000;
  --opm-color: #024fa712;
  --ops-color: #bd000012;
}

* {
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}
body {
  position: relative;
}
.whole {
  margin-left: 25vw;
  margin-top: 5%;
}
.container {
  background-color: var(--opm-color);
  width: 700px;
  height: 150px;
  position: relative;
  border-radius: 10px;
  box-shadow: 0 0.15rem 0.25rem rgba(0, 0, 0, 0.2);
}

.decesion-all div {
  box-shadow: 0 0.15rem 0.25rem rgba(0, 0, 0, 0.2);
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
}

.decesion-all div:active {
  transform: translateY(10px);
  -webkit-transform: translateY(10px);
  -moz-transform: translateY(10px);
  -ms-transform: translateY(10px);
  -o-transform: translateY(10px);
}

/* rejected classes */

.container-rejected {
  background-color: var(--ops-color);
  width: 700px;
  height: 150px;
  position: relative;
  border-radius: 10px;
}

.rejected {
  height: 40px;
  width: 100%;
  background-color: var(--sec-color);
  position: absolute;
  top: 0;
  color: white;
  display: flex;
  align-items: center;
  padding-left: 15px;
  font-weight: 400;
  border-radius: 10px 10px 0 0;
  -webkit-border-radius: 10px 10px 0 0;
  -moz-border-radius: 10px 10px 0 0;
  -ms-border-radius: 10px 10px 0 0;
  -o-border-radius: 10px 10px 0 0;
}

.hidden {
  display: none;
}

.g-rejected {
  color: var(--sec-color);
  font-size: 20px;
  font-weight: bold;
}

.move {
  position: absolute;
  top: 35%;
  margin-left: 15px;
  width: 500px;
  display: flex;
  justify-content: space-between;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transform: translateY(120%);
  -webkit-transform: translateY(120%);
  -moz-transform: translateY(120%);
  -ms-transform: translateY(120%);
  -o-transform: translateY(120%);
}

.show {
  display: block;
  position: absolute;
  z-index: 3;
  width: 90%;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  top: 35%;
  border: 1px solid var(--sec-color);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  color: var(--sec-color);
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

/* rejected classes */

.main1 .header {
  height: 40px;
  width: 100%;
  background-color: var(--main-color);
  position: absolute;
  top: 0;
  color: white;
  display: flex;
  align-items: center;
  padding-left: 15px;
  font-weight: 400;
  border-radius: 10px 10px 0 0;
}
.main2 .header {
  height: 40px;
  width: 100%;
  background-color: var(--main-color);
  position: absolute;
  top: 0;
  color: white;
  display: flex;
  align-items: center;
  padding-left: 15px;
  font-weight: 400;
  border-radius: 10px 10px 0 0;
}
.main3 .header {
  height: 40px;
  width: 100%;
  background-color: var(--main-color);
  position: absolute;
  top: 0;
  color: white;
  display: flex;
  align-items: center;
  padding-left: 15px;
  font-weight: 400;
  border-radius: 10px 10px 0 0;
}

.decesion {
  z-index: 1;
  position: absolute;
  color: white;
  right: 20px;
  top: 8px;
}

hr {
  position: absolute;
  height: 0.6px;
  width: 100%;
  top: 75%;
  border: 0.3px dashed var(--main-color);
}

.claimed {
  position: absolute;
  top: 35%;
  margin-left: 15px;
  width: 500px;
  display: flex;
  justify-content: space-between;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
.approved {
  position: absolute;
  top: 55%;
  margin-left: 15px;
  width: 500px;
  display: flex;
  justify-content: space-between;
  transition: 0.5s;
}

input[type="number"] {
  min-width: 45px;
  max-width: 60px;
  border: none;
  text-align: center;
  height: 25px;
}

.g {
  color: var(--main-color);
  font-size: 20px;
  font-weight: bold;
}

.footer {
  position: absolute;
  top: 85%;
  font-size: 13px;
  margin-left: 20px;
  display: flex;
  justify-content: space-between;
  width: 85%;
  text-align: center;
}

.main1,
.main2,
.main3 {
  margin-bottom: 20px;
}

.decesion-all {
  display: flex;
  width: 210px;
  margin-left: 490px;
  justify-content: space-between;
  height: 60px;
  align-items: center;
  margin-bottom: 30px;
}
.decesion-all .approve-all {
  background-color: var(--main-color);
  color: white;
  height: 50px;
  width: 100px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
}
.decesion-all .reject-all {
  background-color: var(--sec-color);
  color: white;
  height: 50px;
  width: 100px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
}

.footer .f {
  font-weight: bold;
}

.select-list {
  display: none;
}

[type="radio"] {
  cursor: pointer;
  transform: scale(1.5);
  -webkit-transform: scale(1.5);
  -moz-transform: scale(1.5);
  -ms-transform: scale(1.5);
  -o-transform: scale(1.5);
}

.image {
  position: absolute;
  left: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
  top: 0;
}

.msg-reject-all {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 500px;
  flex-direction: column;
  border: 1px solid #777;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  background-color: white;
  height: 400px;
  position: absolute;
  z-index: 10;
  top: 25vh;
  left: 35vw;
}

.msg-line {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 30px;
  background-color: var(--sec-color);
  margin-bottom: 20px;
  padding: 3px;
  position: relative;
  padding-left: 10px;
  padding-right: 10px;
  color: white;
  width: 500px;
  border-radius: 5px 5px 0 0;
  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  -ms-border-radius: 5px 5px 0 0;
  -o-border-radius: 5px 5px 0 0;
}
.msg-line span {
  cursor: pointer;
}
.msg-reject-all select {
  width: 400px;
  margin: auto;
  margin-bottom: 20px;
}

.msg-reject-all textarea {
  width: 400px;
  margin-bottom: 40px;
}

.btns {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-end;
  width: 100%;
  height: 80px;
  position: relative;
}

.btns div {
  margin-bottom: 40px;
  margin-right: 20px;
  box-shadow: 0 0.15rem 0.25rem rgba(0, 0, 0, 0.2);
}

.btns div:active {
  transform: translateY(5px);
  -webkit-transform: translateY(5px);
  -moz-transform: translateY(5px);
  -ms-transform: translateY(5px);
  -o-transform: translateY(5px);
}

.btns .save {
  background-color: var(--sec-color);
  color: white;
  height: 40px;
  width: 80px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
  margin-left: 10px;
}
.btns .cancel {
  background-color: var(--main-color);
  color: white;
  height: 40px;
  width: 80px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
}

.layout {
  position: absolute;
  min-width: 100vw;
  min-height: 100%;
  background-color: #777;
  filter: blur(100rem);
  -webkit-filter: blur(100rem);
  opacity: 0.5;
  z-index: 5;
  margin: 0;
}
